@use "../global" as global;

.l-inner {
  width: calc(100% - 20px * 2);
  margin: 0 auto;

  @include global.mq(lg) {
    width: calc(100% - 60px * 2);
    max-width: global.$pc-contents-width; //メインコンテンツの最大幅
  }
}
