@use "../global" as global;

// pcの時非表示
.u-hidden-pc {
  @include global.mq(md) {
    display: none;
  }
}

// スマホの時非表示
.u-hidden-sp {
  display: none;

  @include global.mq(md) {
    display: block;
  }
}
