@use "../global" as global;

.p-contact {
}

.p-contact__inner {
}

.p-contact__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.p-contact__text {
}

.p-contact__btn {
}
