@use "../global" as global;

.p-drawer {
  position: fixed;
  top: 10px;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0s linear 0.5s; /* 0.5秒後にvisibilityが変更されるように設定 */
  z-index: global.z-index(drawer);

  &.is-open {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease, visibility 0s; /* 即座にvisibilityがvisibleになるように設定 */
  }
}

.p-drawer__nav {
  width: calc(100% - 10px * 2);
  height: 100%;
  margin: 0 auto;
  background: gray; //視認しやすいように色をつけています
  background: global.$text-color-white;
  border-radius: 12px;
  padding-top: 120px;
  padding-bottom: 50px;
}

.p-drawer__inner {
  width: calc(100% - 50px * 2);
  margin: 0 auto;

  //   375px以下の時のスタイル
  @include global.mq(sm) {
    width: calc(100% - 20px * 2);
  }
}

.p-drawer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px; //sns-listとの余白調整
  border-bottom: 1px solid global.$text-color-black;
}

.p-drawer__link {
  font-size: global.rem(24);
}

.p-drawer__link-en {
  font-family: global.$ff-en;
  display: inline-block;
  margin-right: 10px;
}

.p-drawer__link-ja {
  font-size: global.rem(10);
  display: inline-block;
}

.p-drawer__sns {
  margin-top: 30px;
}

// is-openが付与された時のmask
.p-drawer-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0s linear 0.5s; /* 0.5秒後にvisibilityが変更されるように設定 */
  z-index: global.z-index(mask);
}

.p-drawer-mask.is-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease, visibility 0s; /* 即座にvisibilityがvisibleになるように設定 */
}
