@use "../global" as global;

.p-fv {
  display: grid;
  align-items: center;
  height: 90vh;
}

.p-fv__lead {
  font-family: global.$ff-en;
  font-size: global.rem(20);

  @include global.mq(md) {
    font-size: global.rem(24);
  }
}

.p-fv__title {
  font-family: global.$ff-en;
  font-size: global.rem(64);

  @include global.mq(md) {
    font-size: global.rem(80);
  }
}

.p-fv--page {
  height: 60vh !important;
}
