@use "../global" as global;

.p-message {
}

.p-message__inner {
}

.p-message__content {
}
.p-message__title {
  margin-top: 40px;
  font-weight: global.$fw-large;
  line-height: 2;
}

.p-message__text {
  margin-top: 40px;
  line-height: 2;
}
