@use "../global" as global;

.p-portfolio-card {
  border-radius: 12px;
  background: global.$text-color-white;
  padding: 14px 14px 40px 14px;
  max-width: 450px;
}

.p-portfolio-card__inner {
  display: flex;
  flex-direction: column;
}
.p-portfolio-card__img {
  position: relative;
  border-radius: 12px;
  height: 55vh;
  overflow: hidden;
  outline: 1px solid global.$gray;

  @include global.mq(md) {
    height: clamp(55vh, 60vh, 70vh);
  }

  img {
    border-radius: inherit;
    transition: global.$transition-default;
    transform-origin: center top;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: global.$transition-default;
  }

  //   オリジナルのマウスポインターに変更
  // &:hover {
  //   cursor: url("../img/icon/cursor.svg"), auto;
  // }

  &:hover img,
  &:focus img {
    transform: scale(1.1);
  }

  &:hover::after,
  &:focus::after {
    background: rgba(0, 0, 0, 0.5); // 半透明の黒
  }
}
.p-portfolio-card__title {
  margin-top: 24px;
  font-size: global.rem(20);
}
.p-portfolio-card__category {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.p-portfolio-card__tag {
  font-size: global.rem(14);
  padding: 4px 14px;
  width: fit-content;
  border-radius: 16px;
  border: 1px solid global.$text-color-black;
  background: global.$text-color-white;
  transition: global.$transition-default;

  &:hover,
  &:focus {
    background: global.$text-color-black;
    color: global.$text-color-white;
  }
}
