@use "../global" as global;

.c-btn-top {
  width: fit-content;

  a {
    position: relative;
    display: inline-block;
    transition: global.$transition-default;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 68px;
      height: 68px;
      background: url(../img/icon/top-btn-deco.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      animation: rotate2 10s linear infinite;
      transition: global.$transition-default;
    }

    &:hover,
    &:focus {
      transform: scale(1.2);

      &::before {
        animation: rotate2-reverse 8s linear infinite;
      }
    }
  }

  // 無限回転
  @keyframes rotate2 {
    0% {
      transform: translate(-30%, -30%) rotate(0deg);
    }
    100% {
      transform: translate(-30%, -30%) rotate(360deg);
    }
  }

  @keyframes rotate2-reverse {
    0% {
      transform: translate(-30%, -30%) rotate(360deg);
    }
    100% {
      transform: translate(-30%, -30%) rotate(0deg);
    }
  }
}
